<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPagesMovie.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        
   

    }
    <div style="display: flex;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark " style="width:25%; height: 100vh;">

        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a asp-page="/MainPanel" class="nav-link text-white" aria-current="page">
                    
                    MainPanel
                </a>
            </li>
            <li>
                <a asp-page="/PanelProduct" class="nav-link text-white">
                   
                    Produkty
                </a>
            </li>
            <li>
                <a asp-page="/PanelAddProduct" class="nav-link text-white">
                   
                    Dodaj Produkt
                </a>
            </li>
            <li>
                <a asp-page="/PanelOrder" class="nav-link text-white">
                   
                    Zamówienia
                </a>
            </li>
           
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/Images/facebook-icon.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Admin</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Ustawienia</a></li>
                <li><a class="dropdown-item" href="#">Ustawienia</a></li>
                
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/Logout">Wyloguj</a></li>
            </ul>
        </div>
        <div>
           
        </div>
        
    </div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <div>
   
   
       

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>