@page
@model RazorPagesMovie.Pages.PanelAddProductModel
@{
    var Role = PageContext.HttpContext.Session.GetString("Role");
    if (Role == "Admin")
    {
        Layout = "Sidebars";


        <div class="container mt-4" style="width:100%;">
            <div class="row justify-content-center mt-3">
                <div class="col-lg-12 col-md-12 ml-3 mt-5">
                    <form method="post">
                        <div class="mb-3">
                            <label for="Name" class="form-label">Nazwa</label>
                            <input asp-for="Name" type="text" class="form-control" id="Name" aria-describedby="NameHelp" name="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Opis</label>
                            <textarea asp-for="Description" type="" class="form-control" id="Description"  placeholder="opis" name="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label for="QuantityInStock" class="form-label">Ilość w tonach</label>
                            <input asp-for="QuantityInStock" type="number" class="form-control" id="QuantityInStock" aria-describedby="PasswordHelp" name="QuantityInStock">
                            <span asp-validation-for="QuantityInStock" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label for="Price" class="form-label">Cena</label>
                            <input asp-for="Price" type="number" class="form-control" id="Price" aria-describedby="PasswordHelp" name="Price">
                            <span asp-validation-for="Price" class="text-danger"></span>

                        </div>
                        <span asp-validation-for="SelectedCategory" class="text-danger"></span>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Kategoria
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                @if (Model.Categories != null)
                                {
                                    foreach (var item in Model.Categories)
                                    {
                                        <li><a class="dropdown-item btn btn-secondary" onclick="updateButton('@item.Name')">@item.Name</a></li>
                                    }
                                }
                            </ul>
                        </div>
                        <input type="hidden" id="SelectedCategory" name="SelectedCategory" value="" />
                        <script>
                            function updateButton(category) {
                            document.getElementById("dropdownMenuButton2").innerText = category;
                            updateHiddenInput(category);
                            }
                            function updateHiddenInput(category) {
                            document.getElementById('SelectedCategory').value = category;
                            }
                        </script>


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg w-50" asp-page-handler="OnPost">Dodaj produkt</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1>Error:Brak dostępu</h1>
    }
    }

